#principal-title{
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">, sans-serif;
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 400;
}